.btn{
    background-color: #2936c5;
    color: white;
    border: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 6px;
}

.main-container{
    max-width: 400px;
    /* right: 0; */
    width: 100%;
    margin: auto;
    /* position: absolute; */
}