:root{
    --primary-color: #065AD8;
    --secondary-color: #F6F6F6;
    --tertiary-color: #F3FFC8;

    --primary-color-dark: #0056b3;

    --text-color-white: white;
    --text-color-dark: #323130;
    --text-color-green: #28B652;
    --text-color-grey: #454545;
    --text-color-grey-light: #737373;

    --border-radius: 1rem;
    --border-radius-sm: 0.563rem;
    --border-radius-button: 0.473rem;

    --length-max-icon: 1.5rem;
    
    /* font weight */
    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;

    --font-main: 'Roboto', sans-serif;
    --font-logo: 'Antonio', serif;
    --font-light: 'Plus Jakarta Sans', sans-serif;

    /* responsiveness */
    --resp-max-width: 31.25rem;
    --resp-min-width: 48rem; 

    /* image size */
    --img-width-big: 3.125rem;
    --img-width-sm: 2.5rem;
    --img-max-height-big: 3.75rem;
    --img-max-height-sm: 3.125rem;

    /* margin and padding */
    --space-big: 3rem;
    --space-1: 0.063rem;
    --space-2: 0.125rem;
    --space-3: 0.188rem;
    --spave-4: 0.25rem;
    --space-5: 0.313rem;
    --space-10: 0.625rem;
    --space-20: 1.25rem;
    --space-25: 1.563rem;
    --space-30: 1.875rem;
    --space-40: 2.5rem;
    --space-50: 3.125rem;
    --space-60: 3.75rem;
    --space-70: 4.375rem;
    --space-100: 6.25rem;
    --sapce-150: 9.375rem;

}